*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}
h2{
    color: red;
    font-size: 30px;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.box
{
    color: greenyellow;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
.container{
    position: absolute;
    top: 42%;
}